<% layout('/layout/boilerplate2') -%>
<style>
    body {
        background-color: #fcf6bd;
    }
    .list-group-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        border: none;
        border-bottom: 1px solid #f0f0f0;
        transition: background-color 0.3s ease;
    }
    .btn {
        background-color: #ffb703;
        border: none;
        color: #fff;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn:hover {
        background-color: #fb8500;
    }

    h5{
        text-align: center;
        color: #6b705c;
    }
    .red{
        background-color:#ffd6e0 !important;
        color: red !important;
    }
    .green{
        background-color:#affc41 !important;
        color: black !important;
    }
</style>

<% if (orders.length > 0) { %>
    <div class="row offset-2">
        <% for (order of orders) { %>
            <div class="carrrd col-5 mt-3">
                <h5><div class="tableno">Table <%= order.tableno %></div></h5>
                <ul class="list-group list-group-flush">
                    <% for (item of order.orderedfood) { %>
                        <!-- Adding the red class to each list item by default -->
                        <% if(!item.deliverstatus){ %>
                            <li class="list-group-item red" data-foodid="<%= item.id %>" data-orderid="<%= order._id %>" data-addat="<%= item.addat%>" data-quantity="<%= item.quantity%>">
                                <span><%= item.foodname.toUpperCase() %></span>
                                <button class="btn" onclick="markasDeliver(event)">Mark As Deliver</button>
                                <span><%= item.quantity %></span>
                            </li>
                        <% }else{%>
                            <li class="list-group-item green" data-foodid="<%= item.id %>" data-orderid="<%= order._id %>">
                                <span><%= item.foodname.toUpperCase() %></span>
                                <span style="color: #6b705c;">Delivered</span>
                                <span><%= item.quantity %></span>
                            </li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
        <% } %>
    </div>
<% } else { %>
    <h2>Currently, there are no orders</h2>
<% } %>



<script src="/js/editorderkitchen.js"></script>

